name: test

on:
  push:
  pull_request: 
    branches: 
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup Elixir
        uses: actions/setup-elixir@v1
        with:
          otp-version: 23.0
          elixir-version: 1.10.3

      - name: Cache Mix dependencies
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Execute tests
        run: mix test
